parameters:
    level: 8

    paths:
        - src
        - config

    excludePaths:
        - storage/*
        - vendor/*
        - node_modules/*
        - public/*

    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: true
    reportUnmatchedIgnoredErrors: false
    checkMissingTypehints: true
    checkUninitializedProperties: true
    checkExplicitMixed: true

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\[a-zA-Z\\]+#'
        - '#^Access to an undefined property App\\Models\\.*::$#'
        - '#Property App\\Models\\.* has unknown class#'
        # Ignore unused traits as they are provided for optional use
        - message: '#Trait .* is used zero times and is not analysed#'
          paths:
            - src/Traits/*