parameters:
    level: 8

    paths:
        - src
        - config

    excludePaths:
        - storage/*
        - vendor/*
        - node_modules/*
        - public/*
        - examples/*
        - prefabs/*

    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    checkMissingTypehints: true
    checkUninitializedProperties: true
    checkExplicitMixed: true

    ignoreErrors:
        - '#Call to an undefined method Illuminate\\[a-zA-Z\\]+#'
        - '#^Access to an undefined property App\\Models\\.*::$#'
        - '#Property App\\Models\\.* has unknown class#'
        # Ignore unused traits as they are provided for optional use
        - message: '#Trait .* is used zero times and is not analysed#'
          paths:
            - src/Traits/*
        - '#Call to an undefined method TModel of Illuminate\\Database\\Eloquent\\Model::(where|create|paginate)\(\)\.#'
        - '#Parameter \#1 \$table of (static method|method) Illuminate\\(Support\\Facades\\DB|Database\\Connection)::table\(\) expects#'
        - '#Instanceof between Illuminate\\Database\\Eloquent\\Model and Illuminate\\Database\\Eloquent\\Model will always evaluate to true\.#'
        - '#Call to function is_array\(\) with T of mixed will always evaluate to false\.#'
        - '#Call to function is_array\(\) with object&T of mixed will always evaluate to false\.#'